@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  font-family: "Nunito", sans-serif;
}


/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@keyframes float-gentle {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-90px, -120px) rotate(-6deg);
  }
  50% {
    transform: translate(75px, -210px) rotate(6deg);
  }
  75% {
    transform: translate(-45px, -120px) rotate(-3deg);
  }
}

@keyframes float-slower {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(-120px, -105px) rotate(-4.5deg);
  }
  50% {
    transform: translate(105px, -180px) rotate(4.5deg);
  }
  75% {
    transform: translate(-60px, -105px) rotate(-3deg);
  }
}

.animate-float-gentle {
  animation: float-gentle 8s ease-in-out infinite;
}

.animate-float-slower {
  animation: float-slower 10s ease-in-out infinite;
}